ast_serialize==0.6.0
astroid==4.0.4
autopep8==2.3.2
babel==2.18.0
beautifulsoup4==4.15.0
black==26.5.1
certifi==2026.6.17
charset-normalizer==3.4.9
click==8.4.2
courlan==1.4.0
dateparser==1.4.1
dill==0.4.1
greenlet==3.5.5
htmldate==1.10.0
idna==3.18
isort==8.0.1
jusText==3.0.2
librt==0.13.0
lxml==6.1.1
lxml_html_clean==0.4.5
mccabe==0.7.0
mypy==2.3.0
mypy_extensions==1.1.0
packaging==26.2
-e git+https://github.com/vladimiregorov74/PaperShelf.git@94e0fa7ed2e09e4474ecadcfd403140bb597bbf4#egg=papershelf
pathspec==1.1.1
pillow==12.3.0
platformdirs==4.10.1
playwright==1.62.0
pycodestyle==2.14.0
pyee==13.0.1
pylint==4.0.7
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytokens==0.4.1
pytz==2026.2
regex==2026.7.10
requests==2.34.2
ruff==0.15.22
shiboken6==6.11.1
six==1.17.0
soupsieve==2.8.4
text-unidecode==1.3
tld==0.13.2
tomlkit==0.15.1
trafilatura==2.1.0
typing_extensions==4.16.0
tzlocal==5.4.4
urllib3==2.7.0
